<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="5 seconds">

    <!-- CONSOLE LOG PATTERN -->
    <property name="CONSOLE_LOG_PATTERN" value="%d{[yyyy.MM.dd HH:mm:ss]} [%-35.35c{1}] %-5p %m%n" />

    <!-- Console Appender -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>


    <!--  -->
    <logger name="net.lucidman"  level="debug"  additivity="false" >
        <appender-ref ref="console" />
    </logger>


    <!-- Root INFO declaration -->
    <root level="debug" additivity="false">
        <appender-ref ref="console" />
    </root>

</configuration>